.delete-confirm{
    position: fixed;
    top: 10%;
    right: 5%;
    width: 25%;
    padding: 20px;
    border: 4px solid white;
}

.delete-sword-form{
    display: flex;
    justify-content: space-between;
}
