.layout{
  min-height: 100vh;
  background: #0b0b0b;
  color: #e6e6e6;
  font-family: "Georgia", serif;
}
.page-wrapper{
  height: 100%;
}
.layout-container{
  height: 100%;
  padding: 16px 18px;
  box-sizing: border-box;
  margin-left: 200px;
}

.content-area{
  width: 100%;
  height: 100%;
  background: #111111;
  border-left: 1px solid #1f1f1f;
  padding: 18px;
  box-sizing: border-box;
}
