.create-player-labels{
    width: 100%;
    }




    .select-magic-class-container{
        display: flex;
        justify-content: flex-start;
        margin-bottom: 5%;
        width: 100%;
    }

    #magic-class-select{
        color: #F5F5FA;
        margin-left: 7%;
    }



    .beautiful-dropdown{
        color: #F5F5FA;
    }
    .beautiful-dropdown-fire{
        color: #C60021;
        font-size: 20px;
    }
    .beautiful-dropdown-water{
        color: #367199;
        font-size: 20px;
    }

    .beautiful-dropdown-earth{
        color: #a57743;
        font-size: 20px;
    }

    .beautiful-dropdown-ice{
        color: #09ccda;
        font-size: 20px;
    }

    .beautiful-dropdown-wind{
        color: #8bad9a;
        font-size: 20px;
    }


    .beautiful-dropdown-light{
        color: #b0db60;
        font-size: 20px;
    }

    .beautiful-dropdown-dark{
        color: #2e1e5a;
        font-size: 20px;
    }

    .beautiful-dropdown-arcane{
        color: #8400ff;
        font-size: 20px;
    }

    .beautiful-dropdown-nature{
        color: #005f18;
        font-size: 20px;
    }

    .beautiful-dropdown-gravity{
        color: #7e64c7;
        font-size: 20px;
    }


    .beautiful-dropdown-support{

        color: #f712ff;
        font-size: 20px;
    }

    .beautiful-dropdown-time{
        color: #ffcc80;
        font-size: 20px;
    }

    .beautiful-dropdown-electricity{
        color: #fffb15;
        font-size: 20px;
    }

    .beautiful-dropdown-psychic{
        color: #9b0074;
        font-size: 20px;
    }

    .beautiful-dropdown-ancient{
        color: #9c412a8f;
        font-size: 20px;
    }

    .beautiful-dropdown-life{
        color: #26bd00;
        font-size: 20px;
    }


    .beautiful-dropdown-death{
        color: #5a3449;
        font-size: 20px;
    }

    .beautiful-dropdown-non{
        color: #ffffff;
        font-size: 20px;
    }



    .create-confirm{
        width: 500px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 1%;
        border: 2px solid white;
        position:fixed;
        top: 2%;
        right: 2%;
    }


    .button-container{
        display: flex;
        justify-content: space-between;
        width: 80%;
    }



    .inputs{
        width: 70%;
    }


    .create-player-form{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .create-player-title{
        position: relative;
        top: 0%;
        right: 0%;
        display: flex;
        justify-self: center;
        margin-left: 25%;
    }

    .magic-class-select{
        display: flex;
        height: 50px;
        margin-bottom: 5%;
    }

    .keep-player-button{
        margin-left: 5%;
    }
