
.landing-page-italic{
    font-style: italic;
    margin-bottom: 0%;
}

.landing-page-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2%;
}

.landing-page-title{
    color: #00FFB3;
    display: flex;
    justify-self: center;
    font-style: italic;
    font-size: xx-large
}


.landing-page-text{
color: #C0C0C0;
}


.landing-page-signup-button{
    display: flex;
}


.lantern-gif-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}



ul{
    color: #C0C0C0;
    margin-top: 0%;
}

.arc-para{
    margin-bottom: 1%;
   font-size: large;
}

li{
color: #C0C0C0;
}

.land-head{
    color: #00FFB3;
    font-size: x-large;
}
