.foot{
    width: 96vw;
    margin-left: 1%;
    height: 110px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}


.foot-links{
    color:rgb(255, 255, 255);
    margin-bottom: 6%;
    text-decoration: none;
}

.foot-links:hover{
    cursor: pointer;
}


h5{
    justify-self: center;
    align-self: center;
    margin-bottom: 18%;
    text-decoration: 2px underline rgb(255, 255, 255);
    width: 120px;
    font-size: large;
    font-style: italic;
}

h5:hover{
    cursor:default;
}

.resource-col{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.copyright-text{
    display: flex;
    justify-self: flex-start;
    margin-left: 1%;
    margin-top: 3.5%;
    padding-top: 2%;
    align-self: flex-end;
}


.foot-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 210px;

    border-top: 1px solid #C0C0C0;
    width: 100%;
    height: auto;
}
