.spell-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px double #7F00FF;
    border-radius: 10px;
    background-color: #1C1C1E;
    color: #C0C0C0;
    font-size: 1.5rem;
    margin-right: 2%;
    margin-bottom: 2%;
    height: auto;
    width: 20%;
}
.spell-card:hover{
    border: 16px double #00FFB3;
}
.spell-image{
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.spell-list-container{
    display: flex;
;
    flex-wrap: wrap;

    width: 100%;
    height: 100%;
}

.spell-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    height: auto;
    width: 100%;
}

.spell-list-title{
    font-size: 2rem;
    color: #7F00FF;
    text-align: center;
    margin-bottom: 1rem;
}


.spell-name{
    /* color: #fff; */
    color: white;
  text-shadow: 0 0 5px #00CFFF, 0 0 10px #00CFFF, 0 0 20px #00CFFF, 0 0 40px #00CFFF, 0 0 80px #00CFFF, 0 0 160px #00CFFF;
}

.spell-description{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    font-size: medium;
}

.spell-element{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    font-size: medium;
}

.spell-cost{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    font-size: medium;
    color: #FFD700;
}

.spell-mana-cost{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    font-size: medium;
    color: #00CFFF;
}

.spell-damage{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 4%;
    font-size: medium;
    color: #C60021;
}


.all-spells-link{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #7F00FF;
    font-size: larger;
}

@media (max-width: 768px) {
    .spell-list-container,
    .spell-list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .spell-card {
        width: 94%;
        padding: 16px 64px;
        margin-right: 0;
        align-items: flex-start;
        text-align: left;
    }

    .spell-image {
        width: 80%;
        height: auto;
    }
}
