/* TODO: Add sitewide styles */
*{
    background-color: #1C1C1E;
    cursor: url(https://res.cloudinary.com/dl6ls3rgu/image/upload/a_hflip/c_pad,w_90,h_90/v1745983698/mAKmqaPgDvyyxNZlqdjt--0--pxxxn_bg-rmvd_ucyxld.png), auto;
}


h2{
    color: #C0C0C0;
}

h3{
    color: #C0C0C0;
}

h5{
    color: rgb(255, 255, 255);
}

h4{
    color: #C0C0C0;
}

p{
    display: flex;
    justify-self: center;
    color: #C0C0C0;
    margin-bottom: 5%;
}


h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-self: center;
    color: #C0C0C0;
}


label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #C0C0C0;
}


input[type="text"] {
    background-color: #1C1C1E;
    color: #F5F5FA;
    border: 4px solid #C0C0C0;
    border-radius: 10%;
    padding: 10px;
    font-size: large;
}

input[type="password"] {
    background-color: #1C1C1E;
    color: #F5F5FA;
    border: 4px solid #C0C0C0;
    border-radius: 10%;
    padding: 10px;
    font-size: large;
}

input {

    border-color:#C0C0C0;
    color: #F5F5FA;
}


button {
    color: #F5F5FA;
    background-color: #7F00FF;
    font-size: large;
    border: 2px solid #C0C0C0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

button:hover {
    box-shadow: 4px 4px 8px #C0C0C0;
}

button:active {
    box-shadow: 2px 2px 4px #C0C0C0;
}
