/* TODO: Add sitewide styles */
*{
    cursor: url(https://res.cloudinary.com/dl6ls3rgu/image/upload/a_hflip/c_pad,w_90,h_90/v1745983698/mAKmqaPgDvyyxNZlqdjt--0--pxxxn_bg-rmvd_ucyxld.png), auto;
}

html{

    background-color: #1C1C1E;
    height: 100%;
}
h2{
    color: #C0C0C0;
}

h3{
    color: #C0C0C0;
}

h5{
    color: #C0C0C0;
}

h4{
    color: #C0C0C0;
}

p{
    display: flex;
    justify-self: center;
    color: #C0C0C0;
    margin-bottom: 5%;
    text-decoration: none;
}


h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-self: center;
    color: #C0C0C0;
}


label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #C0C0C0;
}


input[type="text"] {
    background-color: #1C1C1E;
    color: #F5F5FA;
    border: 4px solid #C0C0C0;
    border-radius: 10%;
    padding: 10px;
    font-size: large;
}

input[type="password"] {
    background-color: #1C1C1E;
    color: #F5F5FA;
    border: 4px solid #C0C0C0;
    border-radius: 10%;
    padding: 10px;
    font-size: large;
}

input {

    border-color:#C0C0C0;
    color: #F5F5FA;
}
