.profile-dropdown {
 border: 4px solid #C0C0C0;
 border-radius: 10%;
 width: auto;
 height: auto;
 z-index: 1;
 display: flex;
 justify-content: center;
 align-items: center;
}

.nav-bar{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 20px;
  margin-right: 5%;
  width: 140px;
  height: 100%;
  box-shadow: 2px 4px 8px black;
}

.nav-logo{
  width: 100px;
  height: 100px;
}
